<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e31273bf-0dae-4395-a8b5-33f801de7c65/resourcegroups/AZ-JHB-RSG-VCGPPT-ST10088708-TER/providers/Microsoft.Web/sites/MVC20230912084750</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-VCGPPT-ST10088708-TER</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mvc20230912084750.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fd01ce53-62ca-4b8f-a949-eaafb0906cca</ProjectGuid>
    <PublishUrl>https://mvc20230912084750.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MVC20230912084750</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>