@model MVC.Models.GoodsDonation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GoodsDonation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="goodsId" />
            <div class="form-group">
                <label asp-for="donatorName" class="control-label"></label>
                <input asp-for="donatorName" class="form-control" />
                <span asp-validation-for="donatorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="donationDate" class="control-label"></label>
                <input asp-for="donationDate" class="form-control" />
                <span asp-validation-for="donationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="goodsCategory" class="control-label"></label>
                <input asp-for="goodsCategory" class="form-control" />
                <span asp-validation-for="goodsCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfItems" class="control-label"></label>
                <input asp-for="numberOfItems" class="form-control" />
                <span asp-validation-for="numberOfItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="goodsDescription" class="control-label"></label>
                <input asp-for="goodsDescription" class="form-control" />
                <span asp-validation-for="goodsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
